<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><b>Crypto Wallet</b></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Balance : {{balance}}</span>
    <span class="crypto-spacer"></span>
    <mat-icon class="crypto-icon">account_circle</mat-icon>
    <mat-icon class="crypto-icon">account_balance</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>





<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <h2>
    Here is our current blockchain:
  </h2>
  {{ blockchain }}
</div>
<div>
  <h2>
    BlockChain State
    <div *ngIf="cryptoSvc.cryptoChain.isChainValid; else invalid BlockChain">
      Chain is in a <b>valid</b> state
    </div>
    <ng-template #invalidBlockChain>
      Chain is in an <b>invalid</b> state
    </ng-template>
  </h2>
</div>

 -->